.DS_Store
compose.yml
wp-content/themes/twentytwentyfive
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/index.php
wp-content/index.php
wp-content/plugins/akismet
wp-content/plugins/index.php
wp-content/plugins/hello.php